@model AspProject.Models.Usuario
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  Layout="_Layout";
}

    <div>
        <h2>Tem certeza que deseja excluir o usuário?</h2>
        <hr>
        <form method="POST">
            <input type="hidden" asp-for="IdUsuario">
            <div>
                <button asp-action="Usuarios" class=" botao " >Não</button>
                <button type="submit" class="botao vermelho" >Sim</button>
            </div>
           
        </form>
    </div>

