@{
  ViewBag.Subtitulo="Home";
}
<div>

   <h1>CRUD Asp.net</h1>
   <h2>Usuarios Cadastrados:@ViewBag.qtdUsers</h2>
  <a  href="/Home/Usuarios" class="botao"><button>Listar Usuarios</button></a>
</div>
    
