@model IQueryable<AspProject.Models.Usuario>
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  Layout="_Layout";
}


   <h1>Usuarios</h1>
     <a  href="/Home/Cadastrar"><button> Novo usuario</button></a>
         <a href="/Home/Index">  <Button class="botaoVermeho">Voltar</Button></a>
         <table>
           <thead>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
           </thead>
            @foreach(var u in Model){
           <tbody>
             <td>@u.Nome</td>
            <td>@u.Email</td>
           
            <td><a asp-action="Cadastrar" asp-route-id="@u.IdUsuario"><button>Alterar</button></a></td>
            <td><a asp-action="Excluir" class="botaoVermeho" asp-route-id="@u.IdUsuario"><button>Excluir</button></a></td>
            
           
           </tbody>
            }
         </table>

